// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  color: #fff;
  font-size: 1.1rem;
  background: #3a3a99;
  padding: 20px;
  width: 400px;
  margin: 10% auto;
  border-radius: 10px;
}

input[type=text], input[type=password], input[type=email] {
  border-radius: 5px;
  padding-left: 5px;
}

.btn-submit {
  border-radius: 7px;
}
